# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [1]:
num_1 = 5
print(num_1)

5

#### 2. asign any number of type float to the variable "num_2"

In [2]:
num_2 = 2.347
print(num_2)

2.347

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [3]:
total = num_1 + num_2
print(total)

7.3469999999999995

#### 4. check the type of variable "total"

In [4]:
type(total)

float

#### 5. assign variable "height" with your height

In [5]:
height = 186
print(height)

186

#### 6. asign variable "mass" with your weight

In [6]:
mass = 105
print(mass)

105

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [7]:
bmi = mass / ((height/100)**2)

#### 8. print value from "bmi" variable

In [8]:
print(bmi)

30.350329517863333

# String

#### 1. Create variable "name" with your first name

In [9]:
name = 'Hussam'
print(name)

Hussam

#### 2. Create variable "surname" with your surname

In [36]:
surname = 'AlHamdan'
print(surname)

AlHamdan

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [37]:
name_surname = name +' '+ surname

#### 4. print variable "name_surname"

In [38]:
print(name_surname)

Hussam AlHamdan

#### 5. print first letter from variable "name_surname"

In [39]:
name_surname[0]

'H'

#### 6. print your name (without enmpty space) from variable "name_surname"

In [40]:
name_surname[:6]

'Hussam'

#### 7. print your surname 10x (use variable surname)

In [15]:
print(surname*10)

AlHamdanAlHamdanAlHamdanAlHamdanAlHamdanAlHamdanAlHamdanAlHamdanAlHamdanAlHamdan

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [43]:
greeting_message = "Hello my name is", name_surname

#### 9. print "message" variable

In [45]:
print(greeting_message)

('Hello my name is', 'Hussam AlHamdan')

## List

#### 1. create empty list with name "empty_list"

In [18]:
empty_list = []

#### 2. create list "heights" with five random values

In [19]:
heights = [115, 135, 156, 178, 187]

#### 3. print heights

In [20]:
print(heights)

[115, 135, 156, 178, 187]

#### 4. print type of variable "heights"

In [21]:
type(heights)

list

#### 5. print second value from "heights"

In [22]:
heights[1]

135

#### 6. assign last three values from "heights" to another list "heights_2"

In [46]:
heights_2 = heights[2:]

#### 7. print "heights_2"

In [47]:
print(heights_2)

[156, 178, 187]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [25]:
list_all = heights + heights_2

#### 9. print "list_all"

In [26]:
print(list_all)

[115, 135, 156, 178, 187, 156, 178, 187]

#### 10. print the type of "list_all"

In [27]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name empty_tuple

In [28]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [29]:
empty_tuple[0] = name

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

# Tuples are immutable (we can't modified it)

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [ ]:
empty_dict = {}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [50]:
heights_dict = dict ([('Hussam','187')])

#### 3. asign another name and height to "heights_dict"

In [52]:
heights_dict['Max'] = '160'

#### 4. print "heights_dict" dictionary

In [53]:
print(heights_dict)

{'Hussam': '187', 'Max': '160'}

#### 5. print your height from the "heights_dict" dictionary

In [54]:
heights_dict['Hussam']

'187'

#### 6. print all values from "heights_dict" dictionary

In [55]:
list(heights_dict.values())

['187', '160']

#### 7. print all keys from "heights_dict" dictionary

In [56]:
list(heights_dict.keys())

['Hussam', 'Max']